@charset "UTF-8";
html, a {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 시작 */
.all_wrap {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.all_wrap .btn {
  background: none;
  border: none;
  cursor: pointer;
}
.all_wrap .btn.on::before {
  background: url("../img/folder_open.png") no-repeat center;
  width: 50px;
  height: 50px;
  background-size: 40px;
  background-position: -3px;
}

body {
  background-color: #e6e6e6;
}
body a {
  color: black;
}
body li {
  color: black;
}

.dark-mode {
  background-color: #282C34;
}
.dark-mode button {
  color: #fff;
}
.dark-mode li {
  color: #fff;
}

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 32px;
  margin: 20px 0 20px 0;
  left: 180px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #636b78;
  transition: 0.4s;
  border-radius: 9999px;
}
.switch .slider::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  z-index: 50;
}
.switch .sun_img img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
}
.switch .moon_img img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 8px;
}

input:checked + .slider {
  background-color: rgba(0, 144, 249, 0.5);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.nav {
  width: 257px;
  height: 100vh;
  border-top: 1px solid #18191D;
}
.nav h1 a img {
  width: 70%;
  /* height: 187px; */
  display: block;
  margin: 0 auto 40px auto;
  padding-top: 40px;
}
.nav li {
  width: 255px;
  height: 70px;
  border-top: 1px solid #000;
  line-height: 70px;
  position: relative;
}
.nav li button {
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 107px;
}
.nav li button::before {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/folder.png") no-repeat center;
  background-size: 30px;
}
.nav .sns_img {
  width: 100%;
  display: flex;
}
.nav .sns_img a {
  width: 33.3%;
  text-align: center;
  margin-top: 10px;
}
.nav .sns_img a img {
  width: 45%;
  margin: 15px auto;
}
.nav li:last-child {
  position: absolute;
  bottom: 16px;
  border: none;
}
.nav li:last-child p {
  font-size: 12px;
  color: rgba(204, 204, 204, 0.8);
  line-height: 18px;
  width: 226px;
  text-indent: 10px;
  margin: 36px auto;
  text-align: center;
}
.nav li:last-child .instagram {
  filter: brightness();
}

.content_wrap {
  width: calc(100% - 257px);
}

.header {
  height: 37px;
}
.header .title_list .item {
  display: none;
}
.header .title_list {
  height: 100%;
  display: flex;
  border: 1px solid #18191D;
  border-bottom: none;
}
.header .title_list li {
  width: 137px;
  text-align: center;
  line-height: 41px;
  padding-left: 35px;
  font-size: 14px;
  border-right: 1px solid #18191D;
}
.header .title_list li::before {
  position: absolute;
  top: 9px;
  left: 298px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/vs_img.png") no-repeat center;
  background-size: cover;
  margin-left: -20px;
}

/* 오른쪽 컨텐츠 메인 전체박스*/
.none {
  display: none;
}

.first {
  display: flex;
  color: #fff;
  height: calc(100vh - 37px);
  height: calc(100vh - 37px);
  background-color: #282C34;
}
.first video {
  position: absolute;
  opacity: 0.8;
}
.first .first_left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin: 0px auto;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(255, 255, 255, 0.6), 0 0 6px rgba(255, 255, 255, 0.4), 0 0 8px rgba(255, 255, 255, 0.2);
}
.first .first_left .first_div {
  margin: 0px auto;
  padding-left: 50px;
}
.first .first_left .ani_move {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  font-size: 4.3em;
  margin: 10px 0 10px 0;
  line-height: 132px;
}
@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
.first .first_left .ani_move div {
  animation: move-up 3s 3;
  animation-delay: calc(0.22s * var(--index));
  animation-fill-mode: both;
}
.first .first_left .ani_move .ani_move div:first-child {
  display: none;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.first .first_left .ani_move .ani_move div:last-child {
  animation: fade-out 0.5s ease-out 1s forwards;
}
.first .first_left h2 {
  font-size: 4.3em;
  margin-bottom: 50px;
  line-height: 132px;
}
.first .first_left span {
  font-size: 20px;
}
.first .first_left .first_span {
  line-height: 36px;
}
.first .first_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  /* 효과 */
}
.first .first_right .container {
  pointer-events: none;
  position: relative;
  text-align: center;
  animation: flyin 2.8s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: flyin 2.8s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-animation: flyin 2.8s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.first .first_right .container div {
  position: relative;
  font-family: "Helvetica", sans-serif;
  color: #fff;
  display: inline-block;
  font-size: 3.5em;
  letter-spacing: 25px;
  line-height: 1.3;
  transition: all 2.8s ease;
  opacity: 1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(255, 255, 255, 0.6), 0 0 6px rgba(255, 255, 255, 0.4), 0 0 8px rgba(255, 255, 255, 0.2);
  /* text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15); */
}
.first .first_right .invisible {
  opacity: 0;
}
.first .first_right .container.invisible div:first-child {
  transform: translateX(-50px) translateY(-100px);
}
.first .first_right .container.invisible div:nth-child(2) {
  transform: translateX(20px) translateY(100px);
}
.first .first_right .container.invisible div:nth-child(3) {
  transform: translateX(-150px) translateY(-80px);
}
.first .first_right .container.invisible div:nth-child(4) {
  transform: translateX(10px) translateY(-200px);
}
.first .first_right .container.invisible div:nth-child(5) {
  transform: translateX(-300px) translateY(200px);
}
.first .first_right .container.invisible div:nth-child(6) {
  transform: translateX(200px) translateY(-60px);
}
.first .first_right .container.invisible div:nth-child(7) {
  transform: translateX(30px) translateY(200px);
}
.first .first_right .container.invisible div:nth-child(8) {
  transform: translateX(50px) translateY(100px);
}
.first .first_right .container.invisible div:nth-child(9) {
  transform: translateX(-30px) translateY(90px);
}
.first .first_right .container.invisible div:nth-child(10) {
  transform: translateX(10px) translateY(-90px);
}
.first .first_right .container.invisible div:nth-child(11) {
  transform: translateX(-90px) translateY(50px);
}
.first .first_right .container.invisible div:nth-child(12) {
  transform: translateX(30px) translateY(150px);
}
.first .first_right .container.invisible div:nth-child(13) {
  transform: translateX(200px) translateY(20px);
}
.first .first_right .container.invisible div:nth-child(14) {
  transform: translateX(100px) translateY(-110px);
}
.first .first_right .container.invisible div:nth-child(15) {
  transform: translateX(-20px) translateY(200px);
}
.first .first_right .container.invisible div:nth-child(16) {
  transform: translateX(45px) translateY(80px);
}
.first .first_right .container.invisible div:nth-child(17) {
  transform: translateX(-250px) translateY(500px);
}
.first .first_right .container.invisible div:nth-child(18) {
  transform: translateX(-250px) translateY(350px);
}
.first .first_right .container.invisible div:nth-child(19) {
  transform: translateX(-900px) translateY(20px);
}
.first .first_right .container.invisible div:nth-child(20) {
  transform: translateX(-300px) translateY(80px);
}
.first .first_right .container.invisible div:nth-child(21) {
  transform: translateX(70px) translateY(-200px);
}
.first .first_right .container.invisible div:nth-child(22) {
  transform: translateX(-90px) translateY(50px);
}
.first .first_right .container.invisible div:nth-child(23) {
  transform: translateX(100px) translateY(-40px);
}
.first .first_right .container.invisible div:nth-child(24) {
  transform: translateX(300px) translateY(-100px);
}
.first .first_right .container.invisible div:nth-child(25) {
  transform: translateX(90px) translateY(-50px);
}
.first .first_right .container.invisible div:nth-child(26) {
  transform: translateX(30px) translateY(-500px);
}

/* ABOUT 시작*/
.About {
  display: flex;
  color: #fff;
  height: calc(100vh - 37px);
}
.About .about_left {
  display: flex;
  /* flex-direction: column; */
  border: 1px solid #18191D;
  justify-content: center;
  height: 100%;
  width: 50%;
}
.About .about_left h2 {
  font-size: 50px;
}
.About .about_left ul {
  width: 100%;
  padding-top: 100px;
}
.About .about_left ul .about_left_img {
  margin: 0px auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url(../img/min3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  border-bottom: 1px solid #fff;
}
.About .about_left ul li .about_wrap_box {
  display: flex;
}
.About .about_left ul li .about_left_text {
  width: 40%;
  padding-left: 20px;
}
.About .about_left ul li .about_left_text h3 {
  font-size: 22px;
  margin-bottom: 1.2rem;
  line-height: 50px;
  border-bottom: 3px solid rgb(255, 255, 255);
  font-weight: bold;
}
.About .about_left ul li .about_left_text h3 span {
  font-size: 16px;
}
.About .about_left ul li .about_left_text p {
  font-size: 18px;
  margin-bottom: 1.2rem;
}
.About .about_left ul li .about_right_text {
  width: 60%;
  margin-left: 3%;
  line-height: 25px;
}
.About .about_left ul li .about_right_text p {
  width: 94%;
  font-size: 18px;
  line-height: 30px;
  padding: 14px 20px 20px 20px;
}
.About .about_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  border: 1px solid #18191D;
  border-left: none;
  overflow: hidden;
  /* 이미지를 숨기기 */
}
.About .about_right .hide {
  display: none;
}
@keyframes buttonAnimation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.About .about_right .animate {
  animation: buttonAnimation 1s linear infinite;
}
.About .about_right #btn {
  position: absolute;
  background: none;
  color: #fff;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 3;
  border: 1px solid;
  width: 101px;
  height: 56px;
  border-radius: 10px;
}
@keyframes ani {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes ani01 {
  100% {
    transform: rotate(360deg);
  }
}
.About .about_right #container {
  position: relative;
  height: 100%;
}
.About .about_right #container .wrap {
  width: 700px;
  height: 700px;
  position: relative;
  margin: 0px auto;
}
.About .about_right #container .ss_box {
  position: relative;
  width: 450px;
  height: 450px;
  left: calc(50% - 225px);
  top: calc(50% - 225px);
  transform-origin: center center;
  animation: ani01 20s linear infinite;
}
.About .about_right #container .skill_img {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: ani 20s linear infinite;
  opacity: 0;
}
.About .about_right #container .ss_box:hover, .About .about_right #container .ss_box:hover .skill_img {
  animation-play-state: paused;
}
.About .about_right #container .img1 {
  left: 108px;
  top: 31px;
}
.About .about_right #container .img2 {
  right: 82px;
  top: 31px;
}
.About .about_right #container .img3 {
  right: -25px;
  top: 127px;
}
.About .about_right #container .img4 {
  right: -73px;
  top: 251px;
}
.About .about_right #container .img5 {
  right: -25px;
  bottom: -4px;
}
.About .about_right #container .img6 {
  right: 80px;
  bottom: -124px;
}
.About .about_right #container .img7 {
  left: 114px;
  bottom: -123px;
}
.About .about_right #container .img8 {
  left: -25px;
  bottom: 0px;
}
.About .about_right #container .img9 {
  left: -64px;
  bottom: 135px;
}
.About .about_right #container .img10 {
  left: -26px;
  top: 120px;
}

/* project 시작*/
.Project {
  display: flex;
  color: #fff;
  height: calc(100vh - 37px);
}
.Project .project_left {
  justify-content: center;
  height: 100%;
  width: 50%;
  border: 1px solid #18191D;
}
.Project .project_left h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 69px 0 64px 0;
}
.Project .project_left .pl_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 622px;
  overflow: hidden;
}
.Project .project_left .pl_list li:first-child {
  width: 40%;
  border: 1px solid #000;
  background-image: url(../img/harim.jpg);
  background-size: cover;
}
.Project .project_left .pl_list li:nth-child(2) {
  width: 60%;
  border: 1px solid #000;
  background-image: url(../img/casper.png);
  background-size: cover;
}
.Project .project_left .pl_list li:nth-child(2) p {
  position: absolute;
  text-indent: 30px;
  line-height: 80px;
  font-size: 40px;
  font-weight: bold;
  color: #000;
}
.Project .project_left .pl_list li:nth-child(3) {
  width: 60%;
  border: 1px solid #000;
  background-color: rgba(61, 61, 61, 0.5);
  position: relative;
}
.Project .project_left .pl_list li:nth-child(3) p {
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Project .project_left .pl_list li:last-child {
  position: relative;
  padding: 20px;
  width: 40%;
  border: 1px solid #000;
  background-color: rgba(61, 61, 61, 0.5);
}
.Project .project_left .pl_list li:last-child p {
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Project .project_left .pl_list li > a {
  width: 100%;
  height: 100%;
  display: block;
}
.Project .project_right {
  justify-content: center;
  height: 100%;
  width: 50%;
  border: 1px solid #18191D;
  border-left: none;
}
.Project .project_right p {
  color: #fff !important;
}
.Project .project_right h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 69px 0 64px 0;
}
.Project .project_right .pr_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 622px;
  border: 1px solid #fff;
}
.Project .project_right li {
  transition: 0.5s;
}
.Project .project_right li > a {
  width: 100%;
  height: 100%;
  display: none;
}
.Project .project_right .sp_border {
  position: absolute;
  background: #fff;
  z-index: 10;
  transition: all 0.5s;
}
.Project .project_right li:first-child {
  position: relative;
  width: 60%;
  border: 1px solid #000;
  background-image: url(../img/Disney.png);
  background-size: 490px 364px;
  background-repeat: no-repeat;
}
.Project .project_right li:first-child .sp_t {
  left: 10px;
  top: 10px;
  width: 0;
  height: 3px;
}
.Project .project_right li:first-child .sp_r {
  right: 10px;
  top: 10px;
  width: 3px;
  height: 0;
}
.Project .project_right li:first-child .sp_b {
  right: 10px;
  bottom: 10px;
  width: 0;
  height: 3px;
}
.Project .project_right li:first-child .sp_l {
  left: 10px;
  bottom: 10px;
  width: 3px;
  height: 0;
}
.Project .project_right li:first-child:hover::before {
  background-color: rgba(28, 28, 28, 0.842);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.501);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.Project .project_right li:first-child:hover .sp_t {
  width: 95%;
}
.Project .project_right li:first-child:hover .sp_r {
  height: 93%;
}
.Project .project_right li:first-child:hover .sp_b {
  width: 95%;
}
.Project .project_right li:first-child:hover .sp_l {
  height: 93%;
}
.Project .project_right li:first-child:hover a {
  position: absolute;
  display: block;
}
.Project .project_right li:first-child:hover a h3 {
  font-size: 20px;
  text-align: center;
  padding: 24px;
  transform: translateY(17px);
  transition: 0.3s;
  color: #fff;
  font-weight: bold;
}
.Project .project_right li:first-child:hover a p {
  font-size: 16px;
  padding-left: 20px;
  line-height: 24px;
  transform: translateY(23px);
}
.Project .project_right li:first-child:hover a p span {
  font-size: 14px;
}
.Project .project_right li:nth-child(2) {
  position: relative;
  width: 40%;
  border: 1px solid #000;
  background-image: url(../img/하나금융.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Project .project_right li:nth-child(2) .sp_t {
  left: 10px;
  top: 10px;
  width: 0;
  height: 3px;
}
.Project .project_right li:nth-child(2) .sp_r {
  right: 10px;
  top: 10px;
  width: 3px;
  height: 0;
}
.Project .project_right li:nth-child(2) .sp_b {
  right: 10px;
  bottom: 10px;
  width: 0;
  height: 3px;
}
.Project .project_right li:nth-child(2) .sp_l {
  left: 10px;
  bottom: 10px;
  width: 3px;
  height: 0;
}
.Project .project_right li:nth-child(2):hover::before {
  background-color: rgba(28, 28, 28, 0.842);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.501);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.Project .project_right li:nth-child(2):hover .sp_t {
  width: 95%;
}
.Project .project_right li:nth-child(2):hover .sp_r {
  height: 93%;
}
.Project .project_right li:nth-child(2):hover .sp_b {
  width: 95%;
}
.Project .project_right li:nth-child(2):hover .sp_l {
  height: 93%;
}
.Project .project_right li:nth-child(2):hover a {
  position: absolute;
  display: block;
}
.Project .project_right li:nth-child(2):hover a h3 {
  font-size: 20px;
  text-align: center;
  padding: 24px;
  transform: translateY(17px);
  transition: 0.3s;
  color: #fff;
}
.Project .project_right li:nth-child(2):hover a p {
  font-size: 16px;
  padding-left: 20px;
  line-height: 24px;
  transform: translateY(23px);
}
.Project .project_right li:nth-child(3) {
  position: relative;
  width: 40%;
  border: 1px solid #000;
  background: #fff;
  background-image: url(../img/canonadmin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.Project .project_right li:nth-child(3) .sp_t {
  left: 10px;
  top: 10px;
  width: 0;
  height: 3px;
}
.Project .project_right li:nth-child(3) .sp_r {
  right: 10px;
  top: 10px;
  width: 3px;
  height: 0;
}
.Project .project_right li:nth-child(3) .sp_b {
  right: 10px;
  bottom: 10px;
  width: 0;
  height: 3px;
}
.Project .project_right li:nth-child(3) .sp_l {
  left: 10px;
  bottom: 10px;
  width: 3px;
  height: 0;
}
.Project .project_right li:nth-child(3):hover::before {
  background-color: rgba(28, 28, 28, 0.842);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.501);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.Project .project_right li:nth-child(3):hover .sp_t {
  width: 95%;
}
.Project .project_right li:nth-child(3):hover .sp_r {
  height: 93%;
}
.Project .project_right li:nth-child(3):hover .sp_b {
  width: 95%;
}
.Project .project_right li:nth-child(3):hover .sp_l {
  height: 93%;
}
.Project .project_right li:nth-child(3):hover a {
  position: absolute;
  display: block;
}
.Project .project_right li:nth-child(3):hover a h3 {
  font-size: 20px;
  text-align: center;
  padding: 24px;
  transform: translateY(17px);
  transition: 0.3s;
  color: #fff;
}
.Project .project_right li:nth-child(3):hover a p {
  font-size: 16px;
  padding-left: 20px;
  line-height: 24px;
  transform: translateY(23px);
}
.Project .project_right li:last-child {
  position: relative;
  padding: 20px;
  width: 60%;
  border: 1px solid #000;
  background: #fff;
  background-image: url(../img/canon.png);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.Project .project_right li:last-child .sp_t {
  left: 10px;
  top: 10px;
  width: 0;
  height: 3px;
}
.Project .project_right li:last-child .sp_r {
  right: 10px;
  top: 10px;
  width: 3px;
  height: 0;
}
.Project .project_right li:last-child .sp_b {
  right: 10px;
  bottom: 10px;
  width: 0;
  height: 3px;
}
.Project .project_right li:last-child .sp_l {
  left: 10px;
  bottom: 10px;
  width: 3px;
  height: 0;
}
.Project .project_right li:last-child:hover::before {
  background-color: rgba(28, 28, 28, 0.842);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.501);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.Project .project_right li:last-child:hover .sp_t {
  width: 95%;
}
.Project .project_right li:last-child:hover .sp_r {
  height: 93%;
}
.Project .project_right li:last-child:hover .sp_b {
  width: 95%;
}
.Project .project_right li:last-child:hover .sp_l {
  height: 93%;
}
.Project .project_right li:last-child:hover a {
  position: absolute;
  display: block;
}
.Project .project_right li:last-child:hover a h3 {
  font-size: 20px;
  text-align: center;
  padding: 24px;
  transform: translateY(17px);
  transition: 0.3s;
  color: #fff;
}
.Project .project_right li:last-child:hover a p {
  font-size: 16px;
  padding-left: 20px;
  line-height: 24px;
  transform: translateY(23px);
}

/* Q&A시작 */
.Q_A {
  display: flex;
  color: #fff;
  height: calc(100vh - 37px);
  background-image: url(../img/Q_A.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Q&A오른쪽 박스 */
}
.Q_A .qa_div {
  margin: 0px auto 40px;
  width: 60%;
}
.Q_A .qa_left {
  justify-content: center;
  height: 100%;
  width: 100%;
}
.Q_A .qa_left h2 {
  font-size: 30px;
  text-align: center;
  margin: 69px 0 129px 0;
  font-weight: bold;
}
.Q_A .qa_left .qa_dl {
  width: 90%;
  margin: 0px auto;
  border: 1px solid #fff;
  border-radius: 10px;
  padding-left: 9px;
}
.Q_A .qa_left .qa_dl a {
  display: inline-block;
  margin: 0px auto;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.Q_A .qa_left .qa_dl a .fa-angle-down {
  position: absolute;
  top: 29px;
  right: 26px;
}
.Q_A .qa_left .qa_dl a .fa-angle-up {
  position: absolute;
  top: 29px;
  right: 26px;
}
.Q_A .qa_left .qa_dl dt {
  line-height: 73px;
  position: relative;
  padding-left: 21px;
}
.Q_A .qa_left .qa_dl dt::before {
  content: "Q";
  font-weight: bold;
  color: #fff;
  padding-right: 10px;
}
.Q_A .qa_left .qa_dl .cont {
  width: 90%;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  display: none;
  padding-left: 21px;
  margin-bottom: 20px;
}
.Q_A .qa_left .qa_dl .cont::before {
  content: "A";
  font-weight: bold;
  color: #fff;
  padding-right: 10px;
  display: inline-block;
}
.Q_A .qa_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
}

/* Q&A끝*/
/* contact 시작*/
.Contact {
  display: flex;
  color: #fff;
  height: calc(100vh - 37px);
  color: #fff;
}
.Contact .con_left {
  position: relative;
  height: 100%;
  width: 50%;
  border: 1px solid #18191D;
}
.Contact .con_left h2 {
  font-size: 30px;
  text-align: center;
  margin: 74px 0 69px 0;
  font-weight: bold;
}
.Contact .con_left form {
  padding: 0 30px 0 30px;
}
.Contact .con_left form label {
  display: block;
  font-size: 20px;
  margin: 15px 0 7px 0;
}
.Contact .con_left form .in_name {
  width: 50%;
  height: 39px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #000;
  text-indent: 10px;
}
.Contact .con_left form .in_title {
  width: 100%;
  height: 39px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #000;
  text-indent: 10px;
}
.Contact .con_left form input[type=email] {
  width: 50%;
  height: 39px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #000;
  text-indent: 10px;
}
.Contact .con_left form textarea {
  display: block;
  word-wrap: break-word;
  width: 100%;
  height: 214px;
  margin-bottom: 25px;
  resize: none;
  outline: none;
  border-radius: 10px;
}
.Contact .con_left form .email_send {
  width: 150px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000 !important;
  letter-spacing: 5px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s;
  overflow: hidden;
  z-index: 555;
  outline: none;
}
.Contact .con_left form .email_send:focus {
  outline: none;
}
.Contact .con_left form .email_send::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(129, 133, 129);
  top: 0;
  right: 100%;
  transition: all 0.4s;
  z-index: -1;
}
.Contact .con_left form .email_send:hover::before {
  transform: translateX(100%);
}
.Contact .con_left form .email_send:hover {
  color: #fff !important;
}
.Contact .con_right {
  position: relative;
  height: 100%;
  width: 50%;
  border-left: none;
  border: 1px solid #18191D;
}
.Contact .con_right div {
  margin: 0px auto;
  position: absolute;
  top: 15%;
  left: 4%;
  /* transform: translate(-50%, -50%);*/
}
.Contact .con_right div h2 {
  font-size: 24px;
  margin: 40px 0 20px 0;
  font-weight: bold;
}
.Contact .con_right div p {
  font-size: 18px;
  line-height: 25px;
}
.Contact .con_right div ul li {
  width: 100%;
}
.Contact .con_right div ul li a {
  width: 6%;
  display: inline-block;
  margin-right: 25px;
}
.Contact .con_right div ul li a img {
  width: 100%;
}

/* contact 끝*//*# sourceMappingURL=min.css.map */